
@font-face {
    font-family: 'Lato-Black';
    font-display:swap;src: url(./assets/fonts/Lato-Black.imgcache.rev190916201231.ttf) format('truetype')
}

@font-face {
    font-family: 'Lato-BlackItalic';
    font-display:swap;src: url(./assets/fonts/Lato-BlackItalic.imgcache.rev190916201231.ttf) format('truetype')
}

@font-face {
    font-family: 'Lato-Bold';
    font-display:swap;src: url(./assets/fonts/Lato-Bold.imgcache.rev190916201231.ttf) format('truetype')
}

@font-face {
    font-family: 'Lato-Light';
    font-display:swap;src: url(./assets/fonts/Lato-Light.imgcache.rev190916201231.ttf) format('truetype')
}

@font-face {
    font-family: 'Lato-Regular';
    font-display:swap;src: url(./assets/fonts/Lato-Regular.imgcache.rev190916201231.ttf) format('truetype')
}

/* font declaration */
html{
    font-size: 16px;
}
body{
    display: block;
    margin: 0;
    /* font-family: ff-dagny-web-pro,Helvetica,Arial,sans-serif; */
    font-family: Lato-Regular;
    line-height: 1.15;
    color: #0e1719;
    background-color: #fff;
    min-width: 320px;
    overflow-x: hidden;
}


/*************************Left Menu CSS Starts**************************/




 body.aarp-o-body {
	font-family: Lato-Regular
}
.aarp-c-body-wrapper {
	overflow-x: hidden
}

.aarp-o-homepage-container {
	font-size: 1rem
}

.aarp-o-homepage-container__hundred-width {
	margin-right: auto;
	margin-left: auto
}

.aarp-o-homepage-container__clear-grid-float,
.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__clear-grid-float {
	float: none;
	clear: both
}

.aarp-o-homepage-background-container__clear-margin-top {
	margin-top: 0
}

.aarp-o-homepage-container__padding-top-bottom.aem-GridColumn {
	padding: 3.125em 0
}

.aarp-o-homepage-container__padding-none .aem-GridColumn {
	padding: 0
}

@media only screen and (max-width:768px) {
	.aarp-o-homepage-container__hundred-width\@mobile,
	.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__hundred-width\@mobile {
		padding-left: .9375em;
		padding-right: .9375em
	}
}

@media only screen and (min-width:768px) and (max-width:1119px) {
	.aarp-o-homepage-container__hundred-width\@tablet,
	.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__hundred-width\@tablet {
		padding-left: 1.875em;
		padding-right: 1.875em
	}
}

@media only screen and (min-width:1119px) {
	.aarp-o-homepage-container__hundred-width\@laptop,
	.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__hundred-width\@laptop {
		width: 75em
	}
	.aem-GridColumn.aarp-o-homepage-container__padding-top\@laptop {
		padding-top: 2.5625em
	}
	.aarp-o-homepage-background-container__add-padding-top\@laptop .sharp-u-cover-image\@desktop {
		margin-top: 0;
		padding-top: .625em
	}
}
.aarp-c-linked-dropdown {
	line-height: 1;
	position: relative
}

.aarp-c-linked-dropdown__label {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 2.5em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: transparent
}

.aarp-c-linked-dropdown__link-list-normal-list {
	list-style: none;
	padding: 0
}

.aarp-c-linked-dropdown__label::before {
	content: '';
	position: absolute;
	right: 1.04167em;
	cursor: pointer
}

.aarp-c-linked-dropdown__arrow-open::before {
	top: .91667em;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg)
}

.aarp-c-linked-dropdown__arrow-close::before {
	top: 1.16667em;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg)
}

.aarp-c-linked-dropdown__link-list-normal {
	padding: 1.25em 1.25em 1.25em 0
}

.aarp-c-linked-dropdown__link-list-normal-heading {
	margin: 0 0 .625em 0
}

 .aarp-c-linked-dropdown__link-list-normal-item {
	margin-bottom: .625em
} 

.aarp-c-linked-dropdown__link-item,
.aarp-c-linked-dropdown__main-link {
	display: inline-block
}

.aarp-c-linked-dropdown__main-text {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: .625em 1.45833em .625em .83333em
}

.aarp-c-linked-dropdown__main-link {
	margin: .625em .83333em;
	position: relative;
	z-index: 2
}

.aarp-c-linked-dropdown__link-list {
	list-style: none;
	padding: 0;
	margin: 0
}

.aarp-c-linked-dropdown__list-item {
	margin: -1px 0
}

.aarp-c-linked-dropdown__link-item {
	padding: .625em .625em;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none
}

.aarp-c-linked-dropdown__link-item:focus {
	position: relative;
	z-index: 1
}

.aarp-c-linked-dropdown__link-list-normal {
	display: none
}

@media only screen and (min-width:768px) {
	.aarp-c-linked-dropdown--unwrap\@tablet .aarp-c-linked-dropdown__dropdown {
		display: none
	}
	.aarp-c-linked-dropdown--unwrap\@tablet .aarp-c-linked-dropdown__link-list-normal {
		display: block
	}
}

@media only screen and (min-width:1024px) {
	.aarp-c-linked-dropdown--unwrap\@laptop .aarp-c-linked-dropdown__dropdown {
		display: none
	}
	.aarp-c-linked-dropdown--unwrap\@laptop .aarp-c-linked-dropdown__link-list-normal {
		display: block
	}
}

.aarp-c-linked-dropdown__control {
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px)
}

.aarp-c-linked-dropdown__control:focus~label {
	z-index: 1
}

.aarp-c-linked-dropdown__arrow-close {
	display: none
}

.aarp-c-linked-dropdown__control:checked+.aarp-c-linked-dropdown__arrow-open {
	display: none
}

.aarp-c-linked-dropdown__control:checked~.aarp-c-linked-dropdown__arrow-close {
	display: block
}

.aarp-c-linked-dropdown__link-list {
	display: none
}

.aarp-c-linked-dropdown__control:checked~.aarp-c-linked-dropdown__link-list {
	display: block
}


.aarp-c-linked-dropdown--light {
	font-family: Lato-Light;
	background-color: #f4f4f4;
	color: #333
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__dropdown {
	border: 1px solid #dfdfdf
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-link,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link {
	text-decoration: none;
	color: inherit
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item:hover,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-link:hover,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link:hover {
	text-decoration: underline;
	color: inherit
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item:focus,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-link:focus,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link:focus {
	outline: 2px dotted #dc2a2a;
	color: inherit
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text {
	font-family: Lato-Bold;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text p {
	font-size: 1.25em
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link {
	text-decoration: none;
	font-family: Lato-Bold;
	font-size: 1.25em;
	font-weight: 700
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item {
	font-size: 1em;
	font-family: Lato-Regular
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__label::before {
	border: solid #dc2a2a;
	border-width: 0 .125em .125em 0;
	padding: .3125em
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__control:focus~label {
	outline: 2px dotted #dc2a2a;
	z-index: 1
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-normal {
	font-family: Lato-Regular
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-normal-heading {
	font-size: .9375em;
	font-family: Lato-Bold;
	font-weight: 700;
	line-height: 1.2
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-normal-item {
	font-size: .9375em;
	line-height: 1
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light {
	background: 0 0;
	border: 0;
	font-size: 1rem;
	color: #dc2a2a
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__dropdown,
.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__label {
	border: 0
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link,
.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text {
	color: #dc2a2a;
	padding: .9375em 2.1875em .9375em .9375em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link a,
.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text a {
	color: #dc2a2a;
	padding-right: .625em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text {
	min-width: 6.25em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text p {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .9375em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text ul {
	font-size: 0
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text li a {
	font-size: .9375rem
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text li:first-child a {
	padding: 0 .66667em 0 0
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text li:last-child a {
	padding: 0 0 0 .66667em;
	border-left: 1px solid #ccc
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item {
	color: #333;
	font-weight: 900;
	font-size: .9375em;
	padding: .53333em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list {
	display: none;
	position: absolute;
	top: 100%;
	margin-top: 7%;
	width: 100%;
	border-top: 4px solid #dc2a2a;
	padding: .4375em;
	-webkit-box-shadow: 1px 1.7px 4px 0 rgba(0, 0, 0, .14);
	box-shadow: 1px 1.7px 4px 0 rgba(0, 0, 0, .14);
	background-color: #fff;
	color: #333;
	z-index: 9
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__control:checked~.aarp-c-linked-dropdown__link-list,
.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__list-item {
	display: block
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__label::before {
	padding: .1875em;
	width: 0 .125em .125em 0
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__arrow-open::before {
	top: 1em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__arrow-close::before {
	top: 1.25em
}

@media only screen and (max-width:1024px) {
	.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown\@tablet {
		display: none
	}
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item,
.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__link-item {
	width: auto;
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__main-text a {
	color: #282828;
	text-decoration: none;
	font-family: Lato-Bold;
	font-weight: 700;
	position: relative;
	z-index: 100;
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__main-text a:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__label {
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__main-text {
	padding: .9375em 2.8125em .9375em 1.625em;
	display: block
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__link-item {
	padding-left: 1.625em
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__label {
	height: 3.125em
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__label::before {
	right: 1.9375em
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__arrow-open::before {
	top: .9375em
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__arrow-close::before {
	top: 1.25em
}

.aarp-c-offscreen-nav .text a:hover {
	text-decoration: underline
}
*/

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__label {
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown--light {
	background: #333;
	color: #fff
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text {
	display: block;
	padding: .9375em 2.8125em .9375em 1.625em;
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text a {
	text-decoration: none;
	color: inherit;
	position: relative;
	z-index: 100
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text a:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-header__r4g-section__link {
	padding-left: 1.875em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__link-item {
	padding-left: 1.625em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__label::before {
	right: 1.9375em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__arrow-open::before {
	top: 1.25em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__arrow-close::before {
	top: 1.6875em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li {
	display: inline-block;
	list-style: none;
	border-left: 3px solid #999
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li a {
	color: currentColor;
	text-decoration: none;
	font-family: Lato-Bold;
	display: inline-block;
	padding: .3125em .625em;
	position: relative;
	z-index: 100
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li a:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li:first-child {
	border: 0;
	padding-left: 0
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li:first-child a {
	padding-left: 0
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__dropdown {
	border-color: #333
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__control:checked~.aarp-c-linked-dropdown__link-list {
	border-top: 2px solid rgba(237, 237, 237, .14)
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__label {
	height: 3.5em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__main-text {
	font-family: Lato-Black;
	display: block;
	padding: .9375em 3em .9375em 1.8125em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__link-item {
	padding-left: 1.5em;
	font-size: 1.25em;
	width: 100%
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__list-item {
	margin: -1px 0
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__label {
	height: 3.125em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__label::before {
	right: 1.8125em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__arrow-open::before {
	top: 1.125em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__arrow-close::before {
	top: 1.375em
}

@media only screen and (min-width:768px) {
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__dropdown {
		font-size: .75em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__main-text {
		font-size: 1.25em;
		padding-left: 1.93333em;
		padding-top: 1em;
		padding-bottom: 1em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__main-text p {
		font-size: 1em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__link-item {
		font-size: 1.25em;
		padding-left: 1.93333em;
		padding-top: 1em;
		padding-bottom: 1em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__label {
		height: 3.75em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__arrow-open::before {
		top: 1.5em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__arrow-close::before {
		top: 1.66667em
	}
}

.aarp-c-linked-dropdown--member-benefit.sharp-u-cover-image {
	padding: 0
}

.aarp-c-linked-dropdown--member-benefit {
	font-size: 1.6rem;
	padding-right: 2rem
}

@media only screen and (min-width:320px) {
	.aarp-c-linked-dropdown--member-benefit {
		padding-right: 0
	}
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__label {
	width: 0;
	height: 0;
	position: absolute
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__main-text {
	font-family: inherit;
	font-size: .875em;
	white-space: unset;
	background-blend-mode: multiply;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8)), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .08)), to(rgba(255, 255, 255, .08)));
	background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8), linear-gradient(to top, rgba(0, 0, 0, .08), rgba(255, 255, 255, .08));
	padding: .3125em 2.375em .34375em .875em;
	min-height: 3.17857em;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__main-text>* {
	margin: 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__arrow-open::before {
	top: .91667em;
	background: 0 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__label::before {
	width: 0;
	height: 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__arrow-close::before {
	top: .5em;
	right: 1.375em;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	font-family: AARP-icons-2014;
	content: "\e620";
	border: none;
	width: 1em;
	height: 1em
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light {
	background: 0 0;
	font-family: inherit
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item {
	font-family: inherit;
	padding: .9375em 0;
	font-size: 1em;
	margin: 0 3.9% 0 4.6%;
	width: auto;
	border-bottom: .0625em solid #eef0f1;
	display: block
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-normal {
	font-family: inherit;
	padding-right: 2.6rem
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list {
	margin: 0 2.625em
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__list-item {
	padding: 0;
	margin: 0;
	font-size: 1em;
	color: #000;
	border-bottom: 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__list-item:last-child {
	border-bottom: none
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__list-item--active {
	font-weight: 700;
	background: #e1edf5
}

@media only screen and (min-width:320px) {
	.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list\@mobile {
		margin: 0
	}
}


.aarp-c-offscreen-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-y: hidden;
	-webkit-transition: .5s;
	transition: .5s;
	font-size: 1rem;
	visibility: hidden
}

.aarp-c-offscreen-nav .text {
	padding: .625em 0
}

.aarp-c-offscreen-nav .aarp-c-header__r4g-section {
	padding-left: 1.3em;
	padding-top: .5em;
	font-size: 1.25em;
	padding-bottom: 1.25em
}

.aarp-c-offscreen-nav {
	background-color: #f4f4f4;
	-webkit-box-shadow: 2px 3.5px 8px 0 rgba(0, 0, 0, .14);
	box-shadow: 2px 3.5px 8px 0 rgba(0, 0, 0, .14)
}

.aarp-c-offscreen-nav .text a {
	color: #282828;
	text-decoration: none;
	line-height: 2.75;
	cursor: pointer
}

.aarp-c-offscreen-nav__width {
	width: 21.875em;
	visibility: visible;
	overflow-y: auto
}

.aarp-c-offscreen-nav__open {
	margin-left: 21.875em;
	margin-right: -21.875em;
	-webkit-transition: .5s;
	transition: .5s
}

@media only screen and (max-width:768px) {
	.aarp-c-offscreen-nav__width {
		width: 17.5em;
		overflow-y: auto
	}
	.aarp-c-offscreen-nav__open {
		margin-left: 17.5em;
		margin-right: -17.5em;
		-webkit-transition: .5s;
		transition: .5s
	}
}

.aarp-c-linked-dropdown--offscreen__standalone-text a {
	color: #dc2a2a;
	padding-left: 1.3em;
	font-size: 1.25em;
	line-height: 2.75em;
	text-decoration: none
}

.aarp-c-offscreen-nav-rewards.aem-GridColumn {
	padding-top: 0;
	padding-bottom: 0
}

.aarp-c-offscreen-nav-rewards .aem-Grid.aem-Grid--12 .aarpHeaderButton.aem-GridColumn--default--12 {
	width: auto
}

.aarp-c-offscreen-nav-rewards .aem-Grid--default--12 {
	padding: 2em
}

.aarp-c-offscreen-nav-rewards .text a {
	color: #dc2a2a;
	font-size: 1.25em;
	line-height: 2.57em;
	font-weight: 700
}

.aarp-c-offscreen-nav-rewards .aarp-c-header__r4g-section {
	font-size: 1.25em;
	padding: 0
}

.aarp-c-offscreen-nav-rewards .aarp-c-header__r4g-section__link {
	font-weight: 400;
	line-height: 1.21em
}

.cq-Editable-dom .aarp-c-offscreen-nav {
	position: absolute;
	min-height: 156.25em
}



/*************************Left Menu CSS Ends**************************/


/*************************Header CSS Starts**************************/
.adArea{
    background-color: #ebebeb;
    margin:0;
    padding: 4em 0;
}
.header-container{
    
}
.flex{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.flex-align-top{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.aarpe-ui-header--shadow{
    webkit-box-shadow: 1px 1.7px 4px 2px rgba(0,0,0,.14);
    box-shadow: 1px 1.7px 4px 2px rgba(0,0,0,.14);
}
.aarpe-ui-header-Branding a{
    color: #dc2a2a;
    text-decoration: none;
    margin-right: 10px;
    line-height: 1.5;
    display: inline-block;

}
.aarpe-ui-header-Branding a.AarpLogo{
    margin-top: -15px; 
}
.aarp-c-header__menu-icon-text{
    font-size: .625rem;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    margin-top: 0;
    color: #dc2a2a;
}
.aarpe-ui-header-links ul, .aarpe-ui-header-rewards ul, .aarpe-ui-header-login ul{
    list-style: none;
    padding: 0;
}
.aarpe-ui-header-links ul li, .aarpe-ui-header-rewards ul :link, .aarpe-ui-header-login ul li{
    display: inline-block;
}
.header-link a.aarp-c-header__r4g-section__link{
    color: #dc2a2a;
    font-weight: 700;
    text-decoration: none;
    padding-left: .3125rem;
    margin: 0 .9375rem 0 0;
    line-height: .875rem;
}
.aarpe-ui-header-links ul li.community-link{
    margin: 0 .65em 0 0;
}
.aarpe-ui-header-links ul li:last-child a{
    padding: 0 0 0 .66667em;
    border-left: 1px solid #ccc;
}
.community-link{
    display: inline-block;
}
.header-btn{
    
    font-weight: 700;
    text-align: center;
    
    border-left: 0;
}
.header-btn a{
    padding: .7em 1.575em;
    background-color: #dc2a2a;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}
.header-btn a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #ffffff;
}
.header-link a{
    color:#dc2a2a;
    font-weight: 500;
}
.header-link a:hover{
    color:#dc2a2a;
}
.aarpe-ui-header-rewards.header-link a{
    text-decoration: none;
}
.aarpe-ui-header-rewards.header-link a:hover{
    text-decoration: underline;
}
.aarpe-ui-header-rewards{
    padding-right: 20px;
}
.aarpe-ui-header-login.header-link ul li{
    padding: 0 2px;
}
.aarpe-ui-header-login.header-link ul li:last-child a{
    padding: 0 0 0 .66667em;
    border-left: 1px solid #ccc;
}
.icon-menu {
    position: absolute;
    top: 5px;

}
.icon-badge{
}
.aarpe-ui-header-Branding a.AarpLogo img{
    padding-top: 12px;
}
.aarpe-ui-header--color-theme{
    background-color: #ffffff;
    color: #dc2a2a;
    font-size: 16px;
}
.aarpe-ui-header-Branding{
    flex-grow: 1;
    position: relative;
}
.aarpe-ui-header-links{
    flex-grow: 9;
}
.aarpe-ui-header-login{
    flex-grow: 1;
}
.aarpe-ui-header-search{
    flex-grow: 1;
}
.aarpe-home-search{
    background-color: rgba(0,0,0,.08);
    color: currentColor;
    padding: 1.76747em .65em 1.76747em 1.2em;
}
.sr-only{
    display:none;
}
.aarpe-search-icon-wrapper{
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.aarpe-search-icon{
    position: relative;
    margin: 0 auto;
    text-align: center;
}
.aarpe-search-icon__circle{
    width: 1rem;
    height: 1rem;
    border: 2.5px solid #dc2a2a;
    border-radius: 10rem;
}
.aarpe-search-icon__rectangle{
    position: absolute;
    left: .7rem;
    width: .6rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: -.1rem;
    border: 2px solid #dc2a2a;
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
}
                            

/*************************Header CSS Ends**************************/

/*************************Footer CSS Starts**************************/
.aarp-c-footer__quick-links-list .aarp-c-footer__quick-links-link:focus,.aarp-c-linked-dropdown__link-list-normal .aarp-c-linked-dropdown__link-list-link:focus,.aarp-c-linked-dropdown__link-list-normal .aarp-c-linked-dropdown__main-link:focus {
    outline: 2px dotted #dc2a2a;
    color: inherit
}
.aarp-c-footer{
    font-size: 1rem;
    overflow: hidden;
}
.aarp-c-footer--grey-theme.aarp-c-footer{
    font-family: Lato-Regular;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contentSection{
    margin: 0 auto;
    width: 1170px;
}
.logoBox{
    display: inline-block;
    width: 40%;
}

/* css from Aarp portal */

.aarp-c-footer--grey-theme .aarp-c-footer__links {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1em;
    font-weight: 700;
}
.aarp-c-footer__links.aarp-o-container {
    width: 100%;
    padding: 2.5em 1.8125em;
}

.aarp-c-footer__links-body {
    margin: 0 auto;
    padding: 0 15px;
}
.aarp-c-footer__grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}
.aarp-c-footer__grid-item{
    -webkit-box-flex: 1;
    flex: 1;
    width: 0
}
.navigationLinks{}
.aarp-c-linked-dropdown__link-list-normal{
    font-family: Lato-Regular;
    padding: 1.25em 1.25em 1.25em 0;
}
.aarp-c-linked-dropdown__link-list-normal-heading{
    font-size: .9375em;
    font-family: Lato-Bold;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 .625em 0;
}
.aarp-c-linked-dropdown__link-list-normal-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.aarp-c-linked-dropdown__link-list-normal-item{
    font-size: .9375em;
    line-height: 1;
    margin-bottom: .625em;
}
.aarp-c-linked-dropdown__link-list-normal-item a:hover{
    color:#0e1719;
    text-decoration: underline;
}
.aarp-c-linked-dropdown__link-list-link{
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}
.aarp-c-linked-dropdown__link-list-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.aarp-c-footer--grey-theme .aarp-c-footer__boilerplate {
    text-align: left;
    background-color: #494949;
    color: #fff;
}
.aarp-c-footer__boilerplate {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    line-height: 1;
}
.aarp-o-container {
    width: 100%;
    padding-left: 1.8125em;
    padding-right: 1.8125em;
    box-sizing: border-box;
}
.aarp-c-footer__boilerplate ul {
    display: inline-block;
    font-size: .9375em;
    padding: 0;
    margin: 0;
}
.aarp-c-footer__boilerplate li:first-child {
    padding-left: 0;
}
.aarp-c-footer__boilerplate li {
    display: inline-block;
    padding: 0 .9375em;
    border-right: 1px solid;
    width: auto;
    vertical-align: top;
}
.aarp-c-footer__boilerplate li:last-child {
    border-right: none;
}
.aarp-c-footer--grey-theme .aarp-c-footer__boilerplate a{
    text-decoration: none;
    color: inherit;
}
.aarp-c-footer--grey-theme .aarp-c-footer__boilerplate a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.aarp-c-footer--grey-theme .aarp-c-footer__quick-links {
    background-color: #494949;
    color: #fff;
}
.aarp-c-footer__quick-links {
    padding-top: 1.25em;
    padding-bottom: 2.8125em;
}
.aarp-c-footer__quick-links-about{
    width: 33.3333%;
    display: block;
    padding-right: 5em;
    float: left;
    box-sizing: border-box;
}
.aarp-c-footer__logo{
    padding: 1.875em 0;
}
.aarp-c-footer__logo-img{
    width: 7.5em;
    height: 1.875em;
}
img {
    border-style: none;
}
.clearfix{
    clear: both;
}
.aarp-c-footer__descr{
    color: #ccc;
}
.aarp-c-footer__quick-links-rows{
    font-size: .9375em;
    font-family: Lato-Bold;
    line-height: 2.2;
    margin-top: 1.25em;
    box-sizing: border-box;
    width: 66.6667%;
}
.aarp-c-footer__quick-links-list{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 24.7%;
}
 /* .aarp-c-footer__quick-links-list ul {
    margin: 0;
    padding: 0;
} */
.quickLink{}
.aarp-c-footer__quick-links-item{
    text-overflow: ellipsis;
    overflow: initial;
    white-space: nowrap;
    padding-right: .625em;
}
.aarp-c-footer__quick-links-item a:hover{
    color: #ffffff;
    text-decoration: underline;
}
.aarp-c-footer__quick-links-link{
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}
.footerQuickLink{} 

.header--sticky{
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: left .5s;
    transition: left .5s;
    width: 100%;
    z-index: 99999;
}
.siteforceThemeLayoutStarter{
    margin-top: 4.6rem;
}



/*************************Footer CSS Ends**************************/


/*************************Media Query Starts**************************/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    .aarpe-search-icon__circle {
        position: absolute;
        top: -10px;
        left: -22px;
    }
    .aarpe-search-icon__rectangle {
    left: -13px;
    bottom: -10px;
    }
}
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .aarpe-search-icon__circle {
        position: absolute;
        top: -10px;
        left: -22px;
    }
    .aarpe-search-icon__rectangle {
    left: -10px;
    bottom: -10px;
    }

    
  }
  /***************Saleseforce mediaquery******************/

    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.aarp-c-footer__links-body{
            width: 750px !important;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.aarp-c-footer__links-body{
            width: 970px !important;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.aarp-c-footer__links-body{
            width: 1170px !important;
        }
}
    
/*************************Media Query Ends**************************/
