
@font-face {
    font-family: 'Lato-Black';
    font-display:swap;src: url(./assets/fonts/Lato-Black.imgcache.rev190916201231.ttf) format('truetype')
}

@font-face {
    font-family: 'Lato-BlackItalic';
    font-display:swap;src: url(./assets/fonts/Lato-BlackItalic.imgcache.rev190916201231.ttf) format('truetype')
}

@font-face {
    font-family: 'Lato-Bold';
    font-display:swap;src: url(./assets/fonts/Lato-Bold.imgcache.rev190916201231.ttf) format('truetype')
}

@font-face {
    font-family: 'Lato-Light';
    font-display:swap;src: url(./assets/fonts/Lato-Light.imgcache.rev190916201231.ttf) format('truetype')
}

@font-face {
    font-family: 'Lato-Regular';
    font-display:swap;src: url(./assets/fonts/Lato-Regular.imgcache.rev190916201231.ttf) format('truetype')
}

/* font declaration */
html{
    font-size: 16px;
}
body{
    display: block;
    margin: 0;
    /* font-family: ff-dagny-web-pro,Helvetica,Arial,sans-serif; */
    font-family: Lato-Regular;
    line-height: 1.15;
    color: #0e1719;
    background-color: #fff;
    min-width: 320px;
    overflow-x: hidden;
}


/****////Header CSS Starts////****/

.aarp-c-header {
	font-size: 1rem;
	font-family: Lato-Bold;
	color: #fff;
	width: 100%;
	padding: 0 2.875em;
	background-color: #fff;
	z-index: 100
}

.aarp-c-header li,
.aarp-c-header ul {
	display: inline-block
}

.aarp-c-header--hide-in-default .aarp-c-header__links,
.aarp-c-header--hide-in-default .aarp-c-header__links-community-promo,
.aarp-c-header--hide-in-default .aarp-c-header__r4g-section,
.aarp-c-header--hide-in-default .aarp-c-linked-dropdown--header {
	visibility: hidden
}

.coreHeader--js-sticky .aarp-c-header {
	position: fixed;
	top: 0
}

.aarp-c-header-edit-mode-true {
	width: 1.875em
}

.aarp-c-header__container {
	display: -webkit-box;
	display: flex;
	-webkit-box-flex: 1;
	flex: 1 1 auto;
	-webkit-box-align: center;
	align-items: center;
	font-size: .9375em
}

.aarp-c-header__logo-img {
	display: block;
	margin: 0 .9375em
}

.aarp-c-header__r4g-section {
	display: -webkit-box;
	display: flex
}

.aarp-c-header__r4g-section__link {
	padding-left: .3125em;
	margin: 0 .9375em 0 0;
	line-height: .875em
}

@media only screen and (max-width:1168px) {
	.aarp-c-header__links-community-promo\@tablet,
	.aarp-c-header__links\@tablet,
	.aarp-c-header__r4g-section\@tablet {
		display: none
	}
	.aarp-u-spacelogo\@tablet {
		-webkit-box-flex: 1;
		flex: 1 1 0%
	}
}

@media only screen and (max-width:1024px) {
	.aarp-c-header\@tablet {
		padding-right: 0;
		padding-left: 1.25em
	}
}

.aarp-c-header--shampoo {
	-webkit-box-shadow: 1px 1.7px 4px 2px rgba(0, 0, 0, .14);
	box-shadow: 1px 1.7px 4px 2px rgba(0, 0, 0, .14)
}

.aarp-c-header--shampoo .aarp-c-header__menu-icon-text {
	font-size: .625em;
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	margin-top: .3125em;
	color: #dc2a2a
}

.aarp-c-header--shampoo .aarp-c-header__hamburger-icon {
	display: block
}

.aarp-c-header__menu-icon-link {
	text-decoration: none
}

.aarp-u-spacer {
	-webkit-box-flex: 1;
	flex: 1 1 auto
}

.aarp-c-header__links-community-promo {
	font-size: 0
}

.aarp-c-header__links-community-promo li {
	font-size: .9375rem;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #dc2a2a;
	padding: 0 .66667em;
	margin: .33333em 0;
	border-left: 1px solid #ccc
}

.aarp-c-header__links-community-promo li:first-child {
	border: 0
}

.aarp-c-header__links-community-promo a {
	color: #dc2a2a;
	font-weight: 700;
	text-decoration: none
}

.aarp-c-header__links-community-promo a:hover {
	text-decoration: underline
}

.aarp-c-header__r4g-section__points {
	font-weight: 700
}

.aarp-c-header__r4g-section__link {
	color: #dc2a2a;
	font-weight: 700;
	text-decoration: none
}

.aarp-c-header__r4g-section__link:hover {
	color: #dc2a2a;
	text-decoration: underline
}

.aarp-c-r4g-edit-mode-true {
	width: 11.25em
}

.magnum-wrapper-header .aarp-c-header {
	padding: .625em;
	background-color: #dc2a2a;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center
}

.magnum-wrapper-header .aarp-c-header__container {
	font-size: 1rem
}

.magnum-wrapper-header .aarp-c-header__logo-icon {
	margin-left: 5.9375em
}

.magnum-wrapper-header .aarp-c-header__logo-img {
	height: 1.3125em;
	width: 5.625em
}

.magnum-wrapper-header .aarp-c-header {
	padding-top: .9375em;
	padding-bottom: .875em
}

.magnum-wrapper-header .aarp-c-header__links,
.magnum-wrapper-header .aarp-c-header__links-community-promo,
.magnum-wrapper-header .aarp-c-header__menu-icon,
.magnum-wrapper-header .aarp-c-header__r4g-section,
.magnum-wrapper-header .aarp-c-linked-dropdown--header,
.magnum-wrapper-header .aarp-c-search {
	display: none
}

.magnum-wrapper-header .aarp-o-homepage-container__hundred-width {
	width: 105em;
	margin-left: 0;
	margin-right: 0
}

@media screen and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
	.magnum-wrapper-header .aarp-o-homepage-container__hundred-width {
		width: 118.75em
	}
}

@media only screen and (max-width:425px) {
	.magnum-wrapper-header .aarp-o-homepage-container__hundred-width {
		margin-left: 0
	}
	.magnum-wrapper-header .aarp-c-header {
		padding-left: 0
	}
	.magnum-wrapper-header .aarp-c-header {
		padding-top: 1.25em;
		padding-bottom: 1.1875em
	}
	.magnum-wrapper-header .aarp-u-spacelogo\@mobile {
		-webkit-box-flex: 1;
		flex: 1
	}
	.magnum-wrapper-header .aarp-c-header__logo-icon {
		margin: 0
	}
}

@media only screen and (min-width:768px) and (max-width:1119px) {
	.magnum-wrapper-header .aarp-u-spacelogo\@tablet {
		-webkit-box-flex: 0;
		flex: 0
	}
	.magnum-wrapper-header .aarp-c-header__logo-icon {
		margin: 0
	}
	.magnum-wrapper-header .aarp-o-homepage-container__hundred-width {
		padding-left: 0
	}
	.magnum-wrapper-header .aarp-c-header__logo-img {
		margin-left: 1.3125em
	}
}

.ctg-wrapper-header .aarp-c-header {
	padding-left: .625em;
	padding-right: .625em;
	background-color: #c23934;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	height: 3.75em;
	font-family: ff-dagny-web-pro, Helvetica, Arial, sans-serif
}

.ctg-wrapper-header .aarp-c-header .aarp-c-header__links,
.ctg-wrapper-header .aarp-c-header .aarp-c-header__links-button {
	padding-left: 0;
	padding-right: 0
}

.ctg-wrapper-header .aarp-c-header__hamburger-icon rect {
	fill: #fff
}

.ctg-wrapper-header .aarp-c-header__logo-img {
	width: 8.66667em;
	height: 2.90667em
}

.ctg-wrapper-header .aarp-c-header__r4g-section,
.ctg-wrapper-header .aarp-c-linked-dropdown--header,
.ctg-wrapper-header .aarp-c-search,
.ctg-wrapper-header .aarp-u-spacer {
	display: none
}

.ctg-wrapper-header .aarp-c-link {
	height: 5.69231em;
	height: 2.30769em;
	padding-top: .07692em;
	padding-right: 1.38462em;
	padding-bottom: 0;
	padding-left: 1.38462em;
	font-size: .86667em;
	line-height: 2.30769em;
	text-transform: uppercase;
	border-radius: .23077em
}

.ctg-wrapper-header .aarp-c-header__links-community-promo a {
	color: #fff
}

.ctg-wrapper-header .aarp-c-header__links-community-promo li {
	color: #fff;
	padding: .3125em 1em;
	border: none
}

.ctg-wrapper-header .aarp-c-header__logo-icon {
	padding-right: 3.125em
}

.ctg-wrapper-header .aarp-c-header--shampoo .aarp-c-header__menu-icon-text {
	color: #fff;
	font-size: .73333em;
	margin-top: .18182em
}

.ctg-wrapper-header .aarp-c-offscreen-nav {
	background-color: #333
}

.ctg-wrapper-header .aarp-c-linked-dropdown {
	background-color: transparent
}

.ctg-wrapper-header .aarp-c-linked-dropdown .aarp-c-linked-dropdown__dropdown {
	border: 0
}

.ctg-wrapper-header .aarp-c-linked-dropdown__main-text {
	padding: 0
}

.ctg-wrapper-header .aarp-c-linked-dropdown__main-text li {
	padding: 1em;
	border-bottom: .125em solid #000
}

.ctg-wrapper-header .aarp-c-linked-dropdown__main-text a {
	font-family: ff-dagny-web-pro, Helvetica, Arial, sans-serif;
	font-size: 1.125em;
	color: #fff;
	font-weight: 700;
	text-decoration: none
}

.ctg-wrapper-header .aarp-c-linked-dropdown__main-text br {
	display: none
}

@media only screen and (max-width:425px) {
	.ctg-wrapper-header .aarp-o-homepage-container__hundred-width {
		margin-left: 0;
		margin-right: 0
	}
	.ctg-wrapper-header .aarp-c-header {
		padding-left: 0
	}
	.ctg-wrapper-header .aarp-u-spacelogo\@mobile {
		-webkit-box-flex: 1;
		flex: 1
	}
}

@media only screen and (max-width:1024px) {
	.ctg-wrapper-header .aarp-o-homepage-container__hundred-width\@tablet {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-right: .5em;
		padding-left: .5em
	}
	.ctg-wrapper-header .aarp-c-header__menu-icon {
		width: auto
	}
	.ctg-wrapper-header .aarp-u-spacelogo\@tablet {
		display: none
	}
}

@media only screen and (max-width:1168px) {
	.ctg-wrapper-header .aarp-c-header\@tablet {
		-webkit-box-pack: left;
		justify-content: left
	}
	.ctg-wrapper-header .aarp-o-homepage-container__hundred-width\@tablet {
		margin-left: 0;
		margin-right: 0
	}
}

@media only screen and (min-width:1119px) and (max-width:1168px) {
	.ctg-wrapper-header .aarp-c-header\@tablet {
		-webkit-box-pack: left;
		justify-content: left
	}
	.ctg-wrapper-header .aarp-u-spacelogo\@tablet {
		display: none
	}
	.ctg-wrapper-header .aarp-o-homepage-container__hundred-width\@laptop,
	.ctg-wrapper-header .aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__hundred-width\@laptop {
		margin-left: 0;
		margin-right: 0
	}
}

.aarp-c-header__rewards-points-text {
	font-size: .75em
}

.aarp-c-offscreen-nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-y: hidden;
	-webkit-transition: .5s;
	transition: .5s;
	font-size: 1rem;
	visibility: hidden
}

.aarp-c-offscreen-nav .text {
	padding: .625em 0
}

.aarp-c-offscreen-nav .aarp-c-header__r4g-section {
	padding-left: 1.3em;
	padding-top: .5em;
	font-size: 1.25em;
	padding-bottom: 1.25em
}

.aarp-c-offscreen-nav {
	background-color: #f4f4f4;
	-webkit-box-shadow: 2px 3.5px 8px 0 rgba(0, 0, 0, .14);
	box-shadow: 2px 3.5px 8px 0 rgba(0, 0, 0, .14)
}

.aarp-c-offscreen-nav .text a {
	color: #282828;
	text-decoration: none;
	line-height: 2.75;
	cursor: pointer
}

.aarp-c-offscreen-nav__width {
	width: 21.875em;
	visibility: visible;
	overflow-y: auto
}

.aarp-c-offscreen-nav__open {
	margin-left: 21.875em;
	margin-right: -21.875em;
	-webkit-transition: .5s;
	transition: .5s
}

@media only screen and (max-width:768px) {
	.aarp-c-offscreen-nav__width {
		width: 17.5em;
		overflow-y: auto
	}
	.aarp-c-offscreen-nav__open {
		margin-left: 17.5em;
		margin-right: -17.5em;
		-webkit-transition: .5s;
		transition: .5s
	}
}

.aarp-c-linked-dropdown--offscreen__standalone-text a {
	color: #dc2a2a;
	padding-left: 1.3em;
	font-size: 1.25em;
	line-height: 2.75em;
	text-decoration: none
}

.aarp-c-offscreen-nav-rewards.aem-GridColumn {
	padding-top: 0;
	padding-bottom: 0
}

.aarp-c-offscreen-nav-rewards .aem-Grid.aem-Grid--12 .aarpHeaderButton.aem-GridColumn--default--12 {
	width: auto
}

.aarp-c-offscreen-nav-rewards .aem-Grid--default--12 {
	padding: 2em
}

.aarp-c-offscreen-nav-rewards .text a {
	color: #dc2a2a;
	font-size: 1.25em;
	line-height: 2.57em;
	font-weight: 700
}

.aarp-c-offscreen-nav-rewards .aarp-c-header__r4g-section {
	font-size: 1.25em;
	padding: 0
}

.aarp-c-offscreen-nav-rewards .aarp-c-header__r4g-section__link {
	font-weight: 400;
	line-height: 1.21em
}

.cq-Editable-dom .aarp-c-offscreen-nav {
	position: absolute;
	min-height: 156.25em
}

.aarp-o-homepage-container__hundred-width {
	margin-right: auto;
	margin-left: auto
}

.aarp-o-homepage-container__clear-grid-float,
.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__clear-grid-float {
	float: none;
	clear: both
}

.aarp-o-homepage-background-container__clear-margin-top {
	margin-top: 0
}

.aarp-o-homepage-container__padding-top-bottom.aem-GridColumn {
	padding: 3.125em 0
}

.aarp-o-homepage-container__padding-none .aem-GridColumn {
	padding: 0
}

@media only screen and (max-width:768px) {
	.aarp-o-homepage-container__hundred-width\@mobile,
	.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__hundred-width\@mobile {
		padding-left: .9375em;
		padding-right: .9375em
	}
}

@media only screen and (min-width:768px) and (max-width:1119px) {
	.aarp-o-homepage-container__hundred-width\@tablet,
	.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__hundred-width\@tablet {
		padding-left: 1.875em;
		padding-right: 1.875em
	}
}

@media only screen and (min-width:1119px) {
	.aarp-o-homepage-container__hundred-width\@laptop,
	.aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--default--12.aarp-o-homepage-container__hundred-width\@laptop {
		width: 75em
	}
	.aem-GridColumn.aarp-o-homepage-container__padding-top\@laptop {
		padding-top: 2.5625em
	}
	.aarp-o-homepage-background-container__add-padding-top\@laptop .sharp-u-cover-image\@desktop {
		margin-top: 0;
		padding-top: .625em
	}
}

.aarp-c-linked-dropdown--member-benefit.sharp-u-cover-image {
	padding: 0
}

.aarp-c-linked-dropdown--member-benefit {
	font-size: 1.6rem;
	padding-right: 2rem
}

@media only screen and (min-width:320px) {
	.aarp-c-linked-dropdown--member-benefit {
		padding-right: 0
	}
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__label {
	width: 0;
	height: 0;
	position: absolute
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__main-text {
	font-family: inherit;
	font-size: .875em;
	white-space: unset;
	background-blend-mode: multiply;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8)), -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .08)), to(rgba(255, 255, 255, .08)));
	background-image: linear-gradient(to bottom, #f8f8f8, #f8f8f8), linear-gradient(to top, rgba(0, 0, 0, .08), rgba(255, 255, 255, .08));
	padding: .3125em 2.375em .34375em .875em;
	min-height: 3.17857em;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__main-text>* {
	margin: 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__arrow-open::before {
	top: .91667em;
	background: 0 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__label::before {
	width: 0;
	height: 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__arrow-close::before {
	top: .5em;
	right: 1.375em;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	font-family: AARP-icons-2014;
	content: "\e620";
	border: none;
	width: 1em;
	height: 1em
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light {
	background: 0 0;
	font-family: inherit
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item {
	font-family: inherit;
	padding: .9375em 0;
	font-size: 1em;
	margin: 0 3.9% 0 4.6%;
	width: auto;
	border-bottom: .0625em solid #eef0f1;
	display: block
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-normal {
	font-family: inherit;
	padding-right: 2.6rem
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list {
	margin: 0 2.625em
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__list-item {
	padding: 0;
	margin: 0;
	font-size: 1em;
	color: #000;
	border-bottom: 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__list-item:last-child {
	border-bottom: none
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__list-item--active {
	font-weight: 700;
	background: #e1edf5
}

@media only screen and (min-width:320px) {
	.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list\@mobile {
		margin: 0
	}
}

@media only screen and (min-width:768px) {
	.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__link-list-normal-item {
		border-bottom: none;
		color: #000;
		padding: 0;
		font-size: .875em
	}
}

@media only screen and (min-width:1024px) {
	.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__link-list-normal-item {
		padding: 0;
		font-size: .9375em
	}
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__link-list-normal-item--active {
	font-weight: 700
}

@media only screen and (min-width:425px) {
	.aarp-c-linked-dropdown--member-benefit.aarp-c-linked-dropdown--unwrap\@tablet .aarp-c-linked-dropdown__dropdown {
		display: none
	}
	.aarp-c-linked-dropdown--member-benefit.aarp-c-linked-dropdown--unwrap\@tablet .aarp-c-linked-dropdown__link-list-normal {
		display: block
	}
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__link-list-normal-item {
	border-bottom: .0625em solid #eef0f1;
	margin: 0;
	padding: 0
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__link-list-link {
	padding: .66667em 0;
	font-size: .9375em;
	display: block
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__link-list-link:hover {
	background: #e1edf5;
	font-weight: 700
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__link-list-link:after {
	content: "\e6a3";
	font-family: AARP-icons-2014;
	color: #000;
	font-size: .625em;
	padding-left: .25em;
	font-weight: 400
}

.aarp-c-linked-dropdown--member-benefit .aarp-c-linked-dropdown__link-list-normal-item--active {
	font-weight: 700;
	background: #e1edf5
}


.aarp-c-linked-dropdown {
	line-height: 1;
	position: relative
}

.aarp-c-linked-dropdown__label {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 2.5em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: transparent
}

.aarp-c-linked-dropdown__link-list-normal-list {
	list-style: none;
	padding: 0
}

.aarp-c-linked-dropdown__label::before {
	content: '';
	position: absolute;
	right: 1.04167em;
	cursor: pointer
}

.aarp-c-linked-dropdown__arrow-open::before {
	top: .91667em;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg)
}

.aarp-c-linked-dropdown__arrow-close::before {
	top: 1.16667em;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg)
}

.aarp-c-linked-dropdown__link-list-normal {
	padding: 1.25em 1.25em 1.25em 0
}

.aarp-c-linked-dropdown__link-list-normal-heading {
	margin: 0 0 .625em 0
}

.aarp-c-linked-dropdown__link-list-normal-item {
	margin-bottom: .625em
}

.aarp-c-linked-dropdown__link-item,
.aarp-c-linked-dropdown__main-link {
	display: inline-block
}

.aarp-c-linked-dropdown__main-text {
	display: block;
	width: 100%;
	overflow: hidden;
	padding: .625em 1.45833em .625em .83333em
}

.aarp-c-linked-dropdown__main-link {
	margin: .625em .83333em;
	position: relative;
	z-index: 2
}

.aarp-c-linked-dropdown__link-list {
	list-style: none;
	padding: 0;
	margin: 0
}

.aarp-c-linked-dropdown__list-item {
	margin: -1px 0
}

.aarp-c-linked-dropdown__link-item {
	padding: .625em .625em;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-decoration: none
}

.aarp-c-linked-dropdown__link-item:focus {
	position: relative;
	z-index: 1
}

.aarp-c-linked-dropdown__link-list-normal {
	display: none
}

@media only screen and (min-width:768px) {
	.aarp-c-linked-dropdown--unwrap\@tablet .aarp-c-linked-dropdown__dropdown {
		display: none
	}
	.aarp-c-linked-dropdown--unwrap\@tablet .aarp-c-linked-dropdown__link-list-normal {
		display: block
	}
}

@media only screen and (min-width:1024px) {
	.aarp-c-linked-dropdown--unwrap\@laptop .aarp-c-linked-dropdown__dropdown {
		display: none
	}
	.aarp-c-linked-dropdown--unwrap\@laptop .aarp-c-linked-dropdown__link-list-normal {
		display: block
	}
}

.aarp-c-linked-dropdown__control {
	position: absolute!important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px)
}

.aarp-c-linked-dropdown__control:focus~label {
	z-index: 1
}

.aarp-c-linked-dropdown__arrow-close {
	display: none
}

.aarp-c-linked-dropdown__control:checked+.aarp-c-linked-dropdown__arrow-open {
	display: none
}

.aarp-c-linked-dropdown__control:checked~.aarp-c-linked-dropdown__arrow-close {
	display: block
}

.aarp-c-linked-dropdown__link-list {
	display: none
}

.aarp-c-linked-dropdown__control:checked~.aarp-c-linked-dropdown__link-list {
	display: block
}

.aarp-c-linked-dropdown--light {
	font-family: Lato-Light;
	background-color: #f4f4f4;
	color: #333
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__dropdown {
	border: 1px solid #dfdfdf
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-link,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link {
	text-decoration: none;
	color: inherit
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item:hover,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-link:hover,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link:hover {
	text-decoration: underline;
	color: inherit
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item:focus,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-link:focus,
.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link:focus {
	outline: 2px dotted #dc2a2a;
	color: inherit
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text {
	font-family: Lato-Bold;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text p {
	font-size: 1.25em
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link {
	text-decoration: none;
	font-family: Lato-Bold;
	font-size: 1.25em;
	font-weight: 700
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item {
	font-size: 1em;
	font-family: Lato-Regular
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__label::before {
	border: solid #dc2a2a;
	border-width: 0 .125em .125em 0;
	padding: .3125em
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__control:focus~label {
	outline: 2px dotted #dc2a2a;
	z-index: 1
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-normal {
	font-family: Lato-Regular
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-normal-heading {
	font-size: .9375em;
	font-family: Lato-Bold;
	font-weight: 700;
	line-height: 1.2
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list-normal-item {
	font-size: .9375em;
	line-height: 1
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light {
	background: 0 0;
	border: 0;
	font-size: 1rem;
	color: #dc2a2a
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__dropdown,
.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__label {
	border: 0
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link,
.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text {
	color: #dc2a2a;
	padding: .9375em 2.1875em .9375em .9375em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-link a,
.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text a {
	color: #dc2a2a;
	padding-right: .625em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text {
	min-width: 6.25em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text p {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: .9375em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text ul {
	font-size: 0
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text li a {
	font-size: .9375rem
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text li:first-child a {
	padding: 0 .66667em 0 0
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__main-text li:last-child a {
	padding: 0 0 0 .66667em;
	border-left: 1px solid #ccc
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item {
	color: #333;
	font-weight: 900;
	font-size: .9375em;
	padding: .53333em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-list {
	display: none;
	position: absolute;
	top: 100%;
	margin-top: 7%;
	width: 100%;
	border-top: 4px solid #dc2a2a;
	padding: .4375em;
	-webkit-box-shadow: 1px 1.7px 4px 0 rgba(0, 0, 0, .14);
	box-shadow: 1px 1.7px 4px 0 rgba(0, 0, 0, .14);
	background-color: #fff;
	color: #333;
	z-index: 9
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__control:checked~.aarp-c-linked-dropdown__link-list,
.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__list-item {
	display: block
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__label::before {
	padding: .1875em;
	width: 0 .125em .125em 0
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__arrow-open::before {
	top: 1em
}

.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__arrow-close::before {
	top: 1.25em
}

@media only screen and (max-width:1024px) {
	.aarp-c-linked-dropdown--header .aarp-c-linked-dropdown\@tablet {
		display: none
	}
}

.aarp-c-linked-dropdown--light .aarp-c-linked-dropdown__link-item,
.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__link-item {
	width: auto;
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__main-text a {
	color: #282828;
	text-decoration: none;
	font-family: Lato-Bold;
	font-weight: 700;
	position: relative;
	z-index: 100;
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__main-text a:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__label {
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__main-text {
	padding: .9375em 2.8125em .9375em 1.625em;
	display: block
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__link-item {
	padding-left: 1.625em
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__label {
	height: 3.125em
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__label::before {
	right: 1.9375em
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__arrow-open::before {
	top: .9375em
}

.aarp-c-linked-dropdown--offscreen .aarp-c-linked-dropdown__arrow-close::before {
	top: 1.25em
}

.aarp-c-offscreen-nav .text a:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__label {
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown--light {
	background: #333;
	color: #fff
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text {
	display: block;
	padding: .9375em 2.8125em .9375em 1.625em;
	cursor: pointer
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text a {
	text-decoration: none;
	color: inherit;
	position: relative;
	z-index: 100
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text a:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-header__r4g-section__link {
	padding-left: 1.875em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__link-item {
	padding-left: 1.625em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__label::before {
	right: 1.9375em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__arrow-open::before {
	top: 1.25em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__arrow-close::before {
	top: 1.6875em
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li {
	display: inline-block;
	list-style: none;
	border-left: 3px solid #999
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li a {
	color: currentColor;
	text-decoration: none;
	font-family: Lato-Bold;
	display: inline-block;
	padding: .3125em .625em;
	position: relative;
	z-index: 100
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li a:hover {
	text-decoration: underline
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li:first-child {
	border: 0;
	padding-left: 0
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__main-text li:first-child a {
	padding-left: 0
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__dropdown {
	border-color: #333
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__control:checked~.aarp-c-linked-dropdown__link-list {
	border-top: 2px solid rgba(237, 237, 237, .14)
}

.aarp-c-linked-dropdown--offscreen-login .aarp-c-linked-dropdown__label {
	height: 3.5em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__main-text {
	font-family: Lato-Black;
	display: block;
	padding: .9375em 3em .9375em 1.8125em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__link-item {
	padding-left: 1.5em;
	font-size: 1.25em;
	width: 100%
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__list-item {
	margin: -1px 0
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__label {
	height: 3.125em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__label::before {
	right: 1.8125em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__arrow-open::before {
	top: 1.125em
}

.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__arrow-close::before {
	top: 1.375em
}

@media only screen and (min-width:768px) {
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__dropdown {
		font-size: .75em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__main-text {
		font-size: 1.25em;
		padding-left: 1.93333em;
		padding-top: 1em;
		padding-bottom: 1em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__main-text p {
		font-size: 1em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__link-item {
		font-size: 1.25em;
		padding-left: 1.93333em;
		padding-top: 1em;
		padding-bottom: 1em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__label {
		height: 3.75em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__arrow-open::before {
		top: 1.5em
	}
	.aarp-c-linked-dropdown--footer .aarp-c-linked-dropdown__arrow-close::before {
		top: 1.66667em
	}
}
.aarp-c-common-button {
	border: 0;
	cursor: pointer;
	display: inline-block;
	font: inherit;
	font-weight: 700;
	margin: 0;
	padding-bottom: .7em;
	padding-left: 1.575em;
	padding-right: 1.575em;
	padding-top: .7em;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .2s;
	transition: all .2s;
	vertical-align: middle;
	margin-right: .66667em;
	background-color: #dc2a2a;
	color: #fff
}

.aarp-c-common-button:hover {
	text-decoration: underline;
	color: #fff
}

.aarp-c-header__links-button {
	padding-left: .625em;
	padding-right: .625em
}

.aarp-c-common-button--red a {
	background-color: #dc2a2a;
	color: #fff
}

.aarp-c-common-button--red a:hover {
	color: #fff
}

.aarp-c-common-button--white a {
	background-color: #fff;
	color: #dc2a2a;
	padding-top: 1.1em;
	padding-bottom: 1.1em
}

.aarp-c-common-button--white a:hover {
	color: #dc2a2a
}

.aarp-c-common-button--transparent__white-border a {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	padding-top: 1.1em;
	padding-bottom: 1.1em
}

.aarp-c-common-button--transparent__white-border a:hover {
	color: #fff
}

.aarp-c-common-button--full-width a {
	display: block;
	width: 100%
}

.aarp-c-common-button--padding a {
	padding-top: 1.2em;
	padding-bottom: 1.2em
}

.aarp-c-common-button--wide-padding a {
	padding: 1em 4em
}
.aarp-c-search {
	position: relative
}

.aarp-c-search__form-container {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: rgba(255, 0, 0, .2)
}

.aarp-c-search__button {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	padding: 0;
	cursor: pointer
}

.aarp-c-search__button-text,
.aarp-c-search__search-label,
.aarp-c-search__submit-button-text {
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px
}

.aarp-c-search__submit-button {
	border: 0;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	font: inherit;
	margin: 0;
	cursor: pointer;
	background-color: inherit
}

.aarp-c-search__search-input {
	padding: 0;
	margin: 0;
	font: inherit
}

.aarp-c-search-icon-wrapper {
	position: relative;
	width: auto;
	height: auto;
	margin: 0 auto
}

.aarp-c-search-icon {
	position: relative;
	margin: 0 auto;
	text-align: center
}

.aarp-c-search-icon__circle {
	width: 1.1em;
	height: 1.1em;
	border: 2.5px solid #999;
	border-radius: 10em
}

.aarp-c-search-icon__rectangle {
	position: absolute;
	left: .8em;
	width: .6em;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	bottom: -.1em;
	border: 2px solid #999;
	border-top-right-radius: .6em;
	border-bottom-right-radius: .6em
}

.aarp-c-search__control {
	display: none
}

.aarp-c-search__control:checked~.aarp-c-search__form-container {
	display: -webkit-box;
	display: flex;
	width: 25.6em;
	border-top: 4px solid #dc2a2a;
	z-index: 1
}

.aarp-c-search__button--close {
	display: none
}

.aarp-c-search__control:checked~.aarp-c-search__button--close {
	display: -webkit-box;
	display: flex
}

.aarp-c-search__control:checked~.aarp-c-search__button--open {
	display: none
}

@media only screen and (max-width:768px) {
	.aarp-c-search__form-container\@mobile {
		width: 20em
	}
}

.aarp-c-search-form-container__trigger--closed .aarp-c-search-icon__circle,
.aarp-c-search-form-container__trigger--closed .aarp-c-search-icon__rectangle {
	border-color: #dc2a2a
}

@media only screen and (max-width:1024px) {
	.aarp-c-search-form-container__trigger--closed {
		background-color: rgba(0, 0, 0, .08)
	}
}

.aarp-c-search__submit-button-icon {
	fill: #dc2a2a;
	height: 1em
}

.aarp-c-search__button-icon {
	fill: #dc2a2a;
	height: 1.13333em;
	width: auto
}

.aarp-c-search--homepage {
	color: currentColor;
	padding: 1.76747em;
	background-color: transparent
}

.aarp-c-search--homepage .aarp-c-search__form-container {
	background-color: #f4f4f4;
	padding: 1.33333em;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14)
}

.aarp-c-search--homepage .aarp-c-search__search-input {
	padding: 1.06667em;
	padding-left: .8em;
	border: 1px solid rgba(0, 0, 0, .08);
	width: 100%;
	margin-right: .66667em
}

.aarp-c-search--homepage .aarp-c-search__submit-button {
	background-color: #dc2a2a;
	color: #fff;
	width: 5.1em;
	padding-top: .3em;
	padding-left: .2em
}

.aarp-c-search--homepage .aarp-c-search__submit-button-icon {
	fill: #fff;
	height: 1.3em
}

@media only screen and (min-width:1024px) {
	.aarp-c-search--homepage.aarp-c-search--homepage\@desktop {
		background-color: rgba(0, 0, 0, .08)
	}
}

.aarp-c-search-menu__autocomplete {
	position: relative;
	float: left;
	margin-right: .625em
}

.aarp-c-search-menu__input {
	width: 15.6875em;
	height: 2.5em;
	background-color: #fff;
	border: solid .0625em #d8d8d8;
	padding: .9375em;
	line-height: 2em
}

.aarp-c-search-menu__input::-ms-clear {
	display: none
}

.aarp-c-search-menu__trigger--open {
	background-color: #a2302c;
	display: block
}

.aarp-c-search-autocomplete__menu-list {
	position: absolute;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14);
	border-bottom: none;
	border-top: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0
}

.aarp-c-search-autocomplete__menu-item {
	padding: 1.33333em 1.66667em;
	cursor: pointer;
	background-color: #fff;
	color: #0e1719;
	border-bottom: .0625em solid #d8d8d8
}

.aarp-c-search-autocomplete__menu-item:hover {
	background-color: #e5e5e5
}

.aarp-c-search-autocomplete__menu-item--active {
	background-color: #dc2a2a;
	color: #fff
}

/****////Header Css Ends////****/


/*************************Footer CSS Starts**************************/
.aarp-c-footer__quick-links-list .aarp-c-footer__quick-links-link:focus,.aarp-c-linked-dropdown__link-list-normal .aarp-c-linked-dropdown__link-list-link:focus,.aarp-c-linked-dropdown__link-list-normal .aarp-c-linked-dropdown__main-link:focus {
    outline: 2px dotted #dc2a2a;
    color: inherit
}
.aarp-c-footer{
    font-size: 1rem;
    overflow: hidden;
}
.aarp-c-footer--grey-theme.aarp-c-footer{
    font-family: Lato-Regular;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contentSection{
    margin: 0 auto;
    width: 1170px;
}
.logoBox{
    display: inline-block;
    width: 40%;
}

/* css from Aarp portal */

.aarp-c-footer--grey-theme .aarp-c-footer__links {
    background-color: #f4f4f4;
    color: #333;
    font-size: 1em;
    font-weight: 700;
}
.aarp-c-footer__links.aarp-o-container {
    width: 100%;
    padding: 2.5em 1.8125em;
}

.aarp-c-footer__links-body {
    margin: 0 auto;
    padding: 0 15px;
}
.aarp-c-footer__grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}
.aarp-c-footer__grid-item{
    -webkit-box-flex: 1;
    flex: 1;
    width: 0
}
.navigationLinks{}
.aarp-c-linked-dropdown__link-list-normal{
    font-family: Lato-Regular;
    padding: 1.25em 1.25em 1.25em 0;
}
.aarp-c-linked-dropdown__link-list-normal-heading{
    font-size: .9375em;
    font-family: Lato-Bold;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 .625em 0;
}
.aarp-c-linked-dropdown__link-list-normal-list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.aarp-c-linked-dropdown__link-list-normal-item{
    font-size: .9375em;
    line-height: 1;
    margin-bottom: .625em;
}
.aarp-c-linked-dropdown__link-list-normal-item a:hover{
    color:#0e1719;
    text-decoration: underline;
}
.aarp-c-linked-dropdown__link-list-link{
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}
.aarp-c-linked-dropdown__link-list-link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.aarp-c-footer--grey-theme .aarp-c-footer__boilerplate {
    text-align: left;
    background-color: #494949;
    color: #fff;
}
.aarp-c-footer__boilerplate {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
    line-height: 1;
}
.aarp-o-container {
    width: 100%;
    padding-left: 1.8125em;
    padding-right: 1.8125em;
    box-sizing: border-box;
}
.aarp-c-footer__boilerplate ul {
    display: inline-block;
    font-size: .9375em;
    padding: 0;
    margin: 0;
}
.aarp-c-footer__boilerplate li:first-child {
    padding-left: 0;
}
.aarp-c-footer__boilerplate li {
    display: inline-block;
    padding: 0 .9375em;
    border-right: 1px solid;
    width: auto;
    vertical-align: top;
}
.aarp-c-footer__boilerplate li:last-child {
    border-right: none;
}
.aarp-c-footer--grey-theme .aarp-c-footer__boilerplate a{
    text-decoration: none;
    color: inherit;
}
.aarp-c-footer--grey-theme .aarp-c-footer__boilerplate a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.aarp-c-footer--grey-theme .aarp-c-footer__quick-links {
    background-color: #494949;
    color: #fff;
}
.aarp-c-footer__quick-links {
    padding-top: 1.25em;
    padding-bottom: 2.8125em;
}
.aarp-c-footer__quick-links-about{
    width: 33.3333%;
    display: block;
    padding-right: 5em;
    float: left;
    box-sizing: border-box;
}
.aarp-c-footer__logo{
    padding: 1.875em 0;
}
.aarp-c-footer__logo-img{
    width: 7.5em;
    height: 1.875em;
}
img {
    border-style: none;
}
.clearfix{
    clear: both;
}
.aarp-c-footer__descr{
    color: #ccc;
}
.aarp-c-footer__quick-links-rows{
    font-size: .9375em;
    font-family: Lato-Bold;
    line-height: 2.2;
    margin-top: 1.25em;
    box-sizing: border-box;
    width: 66.6667%;
}
.aarp-c-footer__quick-links-list{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 24.7%;
}
 /* .aarp-c-footer__quick-links-list ul {
    margin: 0;
    padding: 0;
} */
.quickLink{}
.aarp-c-footer__quick-links-item{
    text-overflow: ellipsis;
    overflow: initial;
    white-space: nowrap;
    padding-right: .625em;
}
.aarp-c-footer__quick-links-item a:hover{
    color: #ffffff;
    text-decoration: underline;
}
.aarp-c-footer__quick-links-link{
    font-weight: 400;
    text-decoration: none;
    color: inherit;
    white-space: nowrap;
}
.footerQuickLink{} 

.header--sticky{
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: left .5s;
    transition: left .5s;
    width: 100%;
    z-index: 99999;
}
.siteforceThemeLayoutStarter{
    margin-top: 4.6rem;
}



/*************************Footer CSS Ends**************************/


/*************************Media Query Starts**************************/
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    .aarpe-search-icon__circle {
        position: absolute;
        top: -10px;
        left: -22px;
    }
    .aarpe-search-icon__rectangle {
    left: -13px;
    bottom: -10px;
    }
}
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .aarpe-search-icon__circle {
        position: absolute;
        top: -10px;
        left: -22px;
    }
    .aarpe-search-icon__rectangle {
    left: -10px;
    bottom: -10px;
    }

    
  }
  /***************Saleseforce mediaquery******************/

    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.aarp-c-footer__links-body{
            width: 750px !important;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.aarp-c-footer__links-body{
            width: 970px !important;
        }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.aarp-c-footer__links-body{
            width: 1170px !important;
        }
}
    
/*************************Media Query Ends**************************/
